body {
	background: #30282A;
}
#reddits, #reddits li {
	background: white;
}
#reddits li:FIRST-CHILD {
	border-top-width: 0;
}
#reddits li {	
	border: solid #ddd;
	border-width: 0;
	border-top-width: 1px;
}
#reddits li a.thumbnail-link {
	line-height: 0;
	float: left;
	margin-right: 5px;
}
#reddits li div.caption {
	padding: 5px;
}
.info strong {
	background: #DDD;
	padding: 2px;
	color: #D9593D;
}
.info {
	font-size: 8pt;
}
#reddits li.active {
	background: #EEE;
}
.dropdown-menu li {
	padding-left: 5px;
	font-family: monospace;
}
.my-twitter {
	float: left;
	padding: 15px 10px 5px 0;
	margin-left: -10px;
}
.my-twitter a:hover {
	color: white;
	text-decoration: none;
}
.twitter, .facebook, .plusone {
	padding-top: 10px;
}